*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

:root{

    --bg-color: rgb(201, 201, 201);
    --text-color: black;
    --herotext-color: white;
    --nav-bg-color : rgb(172, 171, 171);
    --nav-hover-neon : rgb(247, 247, 247);
    --heroimg-src : url("../img/home/unmasked.png");
    --img-border : white;
    --img-border-neon : rgb(98, 98, 98);
  }

body.dark-theme{
    
    --bg-color: rgb(54, 54, 54);
    --text-color: rgb(255, 255, 255);
    --herotext-color: rgb(0, 0, 0);
    --nav-bg-color : rgb(37, 37, 37);
    --nav-hover-neon : rgb(0, 255, 34);
    --heroimg-src : url("../img/home/mask.png");
    --img-border : black;
    --img-border-neon : rgb(0, 255, 64);
}


.change-theme{
    font-size: 1.25rem;
    color: white;
    cursor: pointer; 
    transition: 0.3s ease; 
  }
  
  .change-theme:hover{
    color: black;
  }